
/* selection by tag */
div {

    width: 300px;
    padding: 20px;
    
    display: inline-block;
    text-align: center;
}

/* selection by class */
.firstdiv {
    background-color: tomato;
}
.thirddiv {
    background-color: blue
}
.parentdiv {
     /* background: black; */
    width: 90%;
    /* height: 200px; */
    margin: 0 auto;
    display: block;
    text-align: center;
}
/* selection by id  */
#seconddiv {
    background-color: gray;
}
